@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  width: 100%;
  padding: 10px 50px;
  background-color: #d9e4dd;
  color: #555555;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .right {
  width: 50%;
}

nav .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

nav .right ul li {
  cursor: pointer;
}

nav .right ul li a {
  color: #555555;
  text-decoration: none;
}

nav .right ul li a:hover {
  color: #000d6b;
}

nav .right ul .kontak {
  padding: 3px 10px;
  border: 2px solid #555555;
  border-radius: 50px;
}

nav .right ul .kontak:hover {
  border-color: #000d6b;
}

.container {
  width: 100%;
}

.container-welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d9e4dd;
  padding: 90px 100px;
}

.container-welcome .left {
  width: 50%;
  height: 100%;
}

.container-welcome .left p {
  color: grey;
  font-weight: 300;
  font-family: "IBM Plex Mono", monospace;
}

.container-welcome .left-kotak {
  width: 200px;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-welcome .left-kotak .kotak {
  height: 40px;
  width: 40px;
  background-color: #d9e4dd;
  padding: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  cursor: pointer;
}

.container-welcome .left-kotak .kotak img {
  height: 30px;
  width: 30px;
}

.container-welcome .right {
  width: 50%;
  height: 100%;
}

.container-welcome .right img {
  height: 400px;
  width: 400px;
  border-radius: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
}

.container-about {
  padding: 100px 50px;
  text-align: center;
}

.container-about h2 {
  padding: 5px auto;
  border: 4px solid;
  width: 170px;
  margin: auto;
  font-weight: bold;
  margin-bottom: 20px;
}

.container-about p {
  padding: 30px;
  letter-spacing: 1px;
  line-height: 2;
}

.container-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  padding-bottom: 100px;
}

.container-skills h2 {
  padding: 5px auto;
  border: 4px solid;
  width: 170px;
  margin: auto;
  font-weight: bold;
  margin-bottom: 20px;
}

.container-skills .list-skill {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  margin-bottom: 30px;
}

.container-skills .list-skill .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  margin: 20px;
  cursor: pointer;
  color: #555555;
  font-weight: bold;
}

.container-skills .list-skill .skill img {
  width: 50px;
  height: 50px;
}

.container-skills .list-skill .skill:hover img {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  padding-bottom: 100px;
}

.container-projects h2 {
  padding: 5px auto;
  border: 4px solid;
  width: 170px;
  margin: auto;
  font-weight: bold;
  margin-bottom: 20px;
}

.container-projects .project {
  margin-top: 40px;
  width: 600px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  padding: 15px 15px 15px 5px;
  color: #555555;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-projects .project .desc {
  text-align: left;
  margin-left: 10px;
}

.container-projects .project h3 {
  color: #316b83;
}

.container-projects .project p {
  margin: 5px auto 20px auto;
}

.container-projects .project a {
  text-decoration: none;
  color: #316b83;
  font-weight: bold;
}

.container-projects .project a:hover {
  color: #000d6b;
}

.container-contact {
  text-align: center;
  padding: 50px;
}

.container-contact h2 {
  padding: 5px auto;
  border: 4px solid;
  width: 170px;
  margin: auto;
  font-weight: bold;
  margin-bottom: 20px;
}

footer {
  width: 100%;
  background-color: #171c2b;
  padding: 15px 30px;
  color: white;
  text-align: center;
}

footer p {
  letter-spacing: 1px;
  font-size: 12px;
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: #316b83;
  font-size: 16px;
}

footer a:hover {
  color: #d9e4dd;
}

@media screen and (max-width: 830px) {
  .container-welcome {
    padding: 90px 20px;
  }
  .container-welcome .right img {
    height: 300px;
    width: 300px;
  }
  .container-skills .list-skill {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
  .container-projects .project {
    width: 500px;
  }
  nav .right {
    width: 70%;
  }
}

@media screen and (max-width: 710px) {
  nav .left {
    display: none;
  }
  nav .right {
    width: 200%;
  }
  .container-welcome {
    width: 100%;
    padding: 90px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .container-welcome .left {
    width: 100%;
    padding: 20px;
  }
  .container-welcome .right img {
    height: 300px;
    width: 300px;
  }
  .container-skills .list-skill {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .container-projects .project {
    width: 400px;
  }
}
/*# sourceMappingURL=stye.css.map */